<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xlmns:th="http://www.thymeleaf.org"
      xmlns:xlmns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CourseDetails</title>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<table class="table-bordered table">
    <thead>
    <tr>
        <th>Navn dansk</th>
        <th>Navn engelsk</th>
        <th>Semester</th>
        <th>Klasse kode</th>
        <th>Studie program</th>
        <th>Type</th>
        <th>ECTS</th>
        <th>Fagets sprog</th>
        <th>Minimum antal af studerende</th>
        <th>Forventet antal af studerende</th>
        <th>Maximum antal af studerende</th>
        <th>Forudsætninger for faget</th>
        <th>Indtast læringsmål</th>
        <th>Fagets indhold</th>
        <th>Lærings aktiviteter</th>
        <th>Eksamensform</th>
        <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_TEACHER')">
            <th>Indstillinger</th>
        </div>
    </tr>
    </thead>
    <tbody>

        <td th:text="${Course.nameDanish}"></td>
        <td th:text="${Course.nameEnglish}"></td>
        <td th:text="${Course.semester}"></td>
        <td th:text="${Course.classCode}"></td>
        <td th:text="${Course.studyProgramme}"></td>
        <td th:text="${Course.type}"></td>
        <td th:text="${Course.ects}"></td>
        <td th:text="${Course.language}"></td>
        <td th:text="${Course.minimumOfStudents}"></td>
        <td th:text="${Course.expectedOfStudents}"></td>
        <td th:text="${Course.maximumOfStudents}"></td>
        <td th:text="${Course.prerequisites}"></td>
        <td th:text="${Course.learningOutcome}"></td>
        <td th:text="${Course.content}"></td>
        <td th:text="${Course.learningActivities}"></td>
        <td th:text="${Course.examForm}"></td>

        <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_TEACHER')">
            <td>
                <a th:href="${'/course/update?id='+Course.getId()}" type="button">Opdater</a>
                <a th:href="${'/course/delete?id='+Course.getId()}" type="button">Slet</a>
            </td>
        </div>
    </tr>
    </tbody>
</table>
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
</body>
</html>