<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xlmns:th="http://www.thymeleaf.org"
      xmlns:xlmns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>AllCourses</title>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
<table class="table-bordered">
    <thead>
    <tr>
        <th>Navn dansk</th>
        <th>Navn engelsk</th>
        <th>ECTS</th>
        <th>Fagets sprog</th>
        <th>Minimum antal af studerende</th>
        <th>Maximum antal af studerende</th>
        <th>Forudsætninger for faget</th>
        <th>Indstillinger</th>
    </tr>
    </thead>
    <tbody>
    <p></p>
    <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_TEACHER')">
    <a href="/course/create" type="button" class="btn">Opret</a>
    <br/>
        <form th:action="@{/course/search}" th:object="${course}" method="get">
            <input type="search" name="searchForCourse" placeholder="Search for course" th:value="${name}"/>
            <tr th:each="courses : ${searchCourse}">
                    <td th:text="${courses.nameDanish}"></td>
                    <td th:text="${courses.nameEnglish}"></td>
                    <td th:text="${courses.ects}"></td>
                    <td th:text="${courses.language}"></td>
                    <td th:text="${courses.minimumOfStudents}"></td>
                    <td th:text="${courses.maximumOfStudents}"></td>
                    <td th:text="${courses.prerequisites}"></td>
                <button type="submit">Search</button>
            </tr>
        </form>
    <tr th:each="Course : ${Courses}">
        <td th:text="${Course.nameDanish}"></td>
        <td th:text="${Course.nameEnglish}"></td>
        <td th:text="${Course.ects}"></td>
        <td th:text="${Course.language}"></td>
        <td th:text="${Course.minimumOfStudents}"></td>
        <td th:text="${Course.maximumOfStudents}"></td>
        <td th:text="${Course.prerequisites}"></td>

        <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_TEACHER')">
        <td>
            <a th:href="${'/course/details?id='+Course.getId()}" type="button" class="btn btn-info">Detaljer</a>
            <a th:href="${'/course/update?id='+Course.getId()}" type="button" class="btn btn-success">Opdater</a>
            <a th:href="${'/course/delete?id='+Course.getId()}" type="button" class="btn btn-danger">Slet</a>
        </td>
        </div>
        <div sec:authorize="hasRole('ROLE_STUDENT')">
            <a th:href="${'/course/signUp?id='+Course.getId()}" type="button" class="btn btn-info" >Tilmeld</a>
        </div>
    </tr>
    </div>
    </tbody>
</table>
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
</div>
</body>
</html>