<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error!?</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.0/css/bootstrap.css" />
</head>
<body>
<div class="container text-center">
<img  style="height: 40vh; width: 20vw" src="https://cdn.discordapp.com/attachments/437924508213575680/523433166611021824/unknown.png">
<h1>Ups?!! Noget gik galt! </h1>
<h2>Kontakt administrationen for yderligere information</h2>
<button class="btn-lg btn-primary"  style="width: 30%;" onclick="window.location.href='/course'">Tilbage</button>
</div>
</body>
</html>