<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xlmns:th="http://www.thymeleaf.org/"
      xmlns:xlmns="http://www.w3.org/1999/xhtml">


<head>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.0/css/bootstrap.css" />
    <title>CourseDelete</title>
</head>
<body>


<div class="container">
    <h2>Tilmeld studerende til kursus?</h2>
    <form action="#" th:action="@{/admin/signUpAnswer}" method="post" >
        <input type="hidden"  th:field="${signUp.id}"  />

        <button type="submit" value="accept" name="accept" class="=btn btn-success">JA</button>
        <button type="submit" value="decline" name="decline" class="btn btn-danger">NEJ</button>

    </form>
</div>
</body>
</html>
